.modal {
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
}

.modal_closeBtn {}

.modal_closeBtn img {
    width: 40px;
}