.modal {
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    background-color: white;
    border: solid 3px black;
    border-radius: 10px;
}

.modal_closeBtn {
    position: absolute;
    top: -15px;
    right: -15px;
}

.modal_closeBtn img {
    background-color: white;
    width: 40px;
    cursor: pointer;
}